# Vagrantpress Config
.vagrant
.ey_local_data
.DS_Store
latest.tar.gz
./wordpress/
/wp-tests/
/files/
/puppet/
/wordpress/wp-includes
/wordpress/wp-admin
/wordpress/wp-snapshots
/wordpress/*.php
/wordpress/*.txt
/wordpress/*.html

# Source: https://github.com/github/gitignore/blob/master/WordPress.gitignore
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins
wp-content/index.php
wp-content/themes/*.php
wp-content/twenty*

/readme.html
/license.txt
